
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: firebrick;
}
.p-10{
  padding: 10px;
}
.nav-container{
  background-color: #fff;
}
.body-container{
  flex: 1;
  background-color: forestgreen;
  display: flex;
  flex-direction: row;
}

.side-bar-container{
  background-color: #f1f1f1;
  min-width: 300px;
}
